

#footer{
    border-top: 5px solid #c52d2f;
}

#contact-info{
    padding-bottom: 0;
}

.grey{
    color: #4e4e4e !important;
}

.faculty-detail{
    padding-bottom: 40px !important;
}

.m-top-10{
    margin-top: 10px;
}

.m-top-20{
    margin-top: 20px;
}
