body { 
	padding-top: 70px; 
}

#remember {
    margin-right: 7px;
}

.sidebar .list-group-item {
	font-weight: bold;
}

.sidebar .list-group-item a {
	text-decoration: none;	
}

.btn-margin-left {
	margin-left: 5px;
}

.bio-margin-top {
	margin-top: 20px;
}